@font-face {
    font-family: "Nunito";
    src: url('/src/assets/fonts/Nunito-Regular.woff') format('woff'),
         url('/src/assets/fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('/src/assets/fonts/Nunito-SemiBold.woff') format('woff'),
         url('/src/assets/fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('/src/assets/fonts/Nunito-Bold.woff') format('woff'),
         url('/src/assets/fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('/src/assets/fonts/Nunito-ExtraBold.woff') format('woff'),
         url('/src/assets/fonts/Nunito-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}